:root {
    /* colors */
    --primary: pink;
    --secondary: #add8e6;
    --accent: white;
    --grey: #3a3a3a;
    --shadow: rgba(45,39,49,.2);
    --penumbra: rgba(39,44,39,.1);

    /* animation times */
    --on: .1s;
    --off: .3s

    /* sized elements */
    --border: 5px;
}

html{
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    color: var(--grey);
    text-decoration: none;
}

.black-font,
.black-font:hover,
.black-font:active,
.black-font:focus {
    color: #000000;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.pause {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.scrollable-vertical {
  overflow-x: hidden;
  overflow-y: auto;
}
.scrollable-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
}
.sm-height   { height: 200px; }
.half-height { height: 500px;   }
.full-height { height: 100%;  }
.min-height  { min-height: 20%;  }
.half-height { max-height: 50%;  }
.full-height { max-height: 100%; }
.sm-width    { min-width: 20%;   }
.half-width  { max-width: 50%;   }

.custom-btn {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0;
}

body {
    color: var(--grey);
    font-family: 'Work Sans', sans-serif;
    background: var(--accent);
}

#episodes {
    position: relative;
    padding-top: 100%; /* Your percentage */
}
#episodes > .half-height {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}

#podcasts {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    position:fixed;
}

#podcasts img {
    border: 5px solid var(--accent);
    transition: var(--off) ease;
    display: inline-block;
    color: white;
    width: 20%;
    text-decoration: none;
}

#podcasts img:hover {
    border: 5px solid var(--grey);
    cursor: pointer;
    transition: var(--on) ease;
}

li {
    -webkit-transition: var(--off) ease;
    transition: var(--off) ease;
    list-style-type: none;
    opacity: 80%;
    border: 5px solid transparent;
}
li p{
    font-size: 1.3em;
}
li:hover {
    -webkit-transition: var(--on) ease;
    transition: var(--on);
    border: 5px solid var(--grey);
    opacity: 100%;
    cursor: pointer;
}

.profile {
    float: right;
    padding: 20px;
    background: var(--primary);
    width: 200px;
    height: 20em;
}

.profile img {
    height: 10em;
    margin: 0px 0px 50 -100px;
    border: 5px solid var(--accent);
}

.new {
    background: var(--primary);
    color: var(--accent);
    padding: 3px 8px;
}

footer{
    position:fixed;
    width: 20%;
    float: right;
    position: fixed;
    white-space:nowrap;
    bottom: 0;
    right: 0;
    margin: 5vh 14% 0 0;
}

footer p{

    opacity: 0.4;
    letter-spacing: -0.3px;
}

.header a {
    color: inherit;
    align-content: center;
}

.header {
    padding: 40px;
}


