body{
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: 'Work Sans', sans-serif;
    background: #ffffff;
}
.container{
    width: 65%;
    margin: 0 auto;
}
#hero{
    float: left;
    width: 100%;
    margin: 15vh 0 0 0;
}
#hero h1{
    margin: 0 0 15px 0;
    font-size: 4em;
    line-height: 60px;
}
#hero p{
    width:60%;
    font-size: 1.8em;
    margin: 2px 0 0 0;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    animation: type 3s steps(60, end);
}
#hero p:nth-child(2n+0){
    animation: type2 6s steps(60, end);
}
#hero .profile{
    -webkit-transition: 0.4s ease;    
    float: right;
    padding: 20px;
    background: pink;
    width: 200px;
    height: 200px;    
    border-radius : 100px;
}

#hero .profile img{
    -webkit-transition: 0.4s ease;
    width: 400px;
    margin: 0px 0px 50 -100px;
    border: 5px solid #FFF;
    border-radius: 100px;
    box-shadow:8px 14px 38px rgba(39,44,49,.06),1px 3px 8px rgba(39,44,49,.03);
/*    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;*/
}
#hero .profile:hover {
    -webkit-transition: 0.4s ease;
    border-radius : 60px;
    width: 210px;
}
#hero .profile img:hover{
    -webkit-transition: 0.15s ease;
    width: 420px;
    border-radius : 60px;
}
#work{
    width: 100%;
    float: left;
    margin: 5vh 0 0 0;
}
#work .left {
    width: 30%;
    float: left;
}
#work .right {
    width: 30%;
    float: left;
    margin: 0 0 0 10%;
}
#work .border-red {
    width: 20%;
    height: 10px;
    background: pink;
    display: block;
    margin: 0 0 10px 0;
}
#work .border-blue {
    width: 20%;
    height: 10px;
    background: #add8e6;
    display: block;
    margin: 0 0 10px 0;
}
#work h2{
    font-size: 2.2em;
    margin: 0;
    letter-spacing: -0.5px;
}
#work ul{
    margin: 0;
    padding: 0;
}
#work ul li{
    -webkit-transition: 0.3s ease;
    list-style-type: none;
    margin: 15px 0;
    font-size: 1.3em;
}
#work a{
    color: #1c1c1c;
    text-decoration: none;
}
#work ul li:hover{
    -webkit-transition: 0.07s ease;
    padding: 0 0 0 10px;    
    border-left: 5px solid grey;
    opacity: .8;    
}
#work .new{
    background: #ffc0cb;
    float: left;
    padding: 3px 8px;
    color: #ffffff;
    border-radius: 10px;
    font-size: 0.5em;
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2px 5px 0 0;
}
footer{
    width: 20%;
    float: right;
    bottom: 0;
    right: 0;
    margin: 5vh 14% 0 0;
}
footer p{
    font-size: 0.9em;
    color: #1c1c1c;
    opacity: 0.4;
    letter-spacing: -0.3px;
}
@media (max-width: 425px) {
    .container{
	width: 80%;
    }
    #hero .profile{
	padding: 15px;
	background: #d63031;
	width: 120px;
	height: 120px;
	margin: 0 auto 10vh auto;
	float: none;
    }
    #hero .profile img{
	width: 150px;
	margin: 0px 0 0 -35px;
	border-radius: 4px;
    }
    #hero{
	text-align: center;
    }
    #hero h1{
	font-size: 3em;
	line-height: 45px;
    }
    #hero p{
	width: 100%;
	font-size: 1.4em;
	line-height: 25px;
    }
    #work{
	margin: 10vh 0 0 0;
    }
    #work .left{
	width: 100%;
	text-align: center;
    }
    #work .right{
	width: 100%;
	text-align: center;
    }
    #work .border-red, #work .border-blue{
	margin: 0 auto 10px auto;
    }
    footer{
	width: 100%;
	float: left;
	margin: 5vh 0 2vh 0;
	text-align: center;
    }
}
